
.video-container {
    /* Used to position the overlay */
    position: relative;
    width:100%;
}

.play-button-container {
    /* Position */
    left: 0px;
    position: absolute;
    top: 0;

    /* Take full size */
    height:360px;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Add a dark background */
   
}
.play-button:hover i{
    color: white;
    
}
.play-button {
    height: 5rem;
    width: 5rem;
    cursor:pointer;
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
}
.play-button i {
    font-size:5rem;
    color:#c52b6f;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
  }
.d-none {
    display:none;
}
@media (min-width: 37.5em){
.pair {
    padding-left:15em;
}
}